.column{
    background-color: green;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 0px solid black;
}

.colorTitle{
    color: white;
    border-radius: 10%;
    padding: 5%;
    cursor: pointer;
}

.colorTitle:hover{
    background-color: rgba(0, 0, 0, 0.05);
}