.column{
    background-color: green;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 0px solid black;
}

.colorTitle{
    color: white;
    border-radius: 2vh;
    padding: 2vh;
    cursor: pointer;
    transition: background 0.3s;
}

.colorTitle:hover{
    background-color: rgba(114, 114, 114, 0.2);
}

.lockButton{
    border: 0;
    border-radius: 2vh;
    color: white;
    background-color: rgba(114, 114, 114, 0);
    padding: 2vh;
    cursor: pointer;
    transition: background 0.3s;
}

.lockButton:hover{
    background-color: rgba(114, 114, 114, 0.2);
}